@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


.container {
  padding: 0;
}

.main {
  position: relative;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:40px;
  background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  
}

.display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  padding-left: 30px;
  height: 150px;
  width: 50%;
  border: 2px solid #5A6983;
  border-radius: 10px;
}
.title{
  color: #fff;
  width: min-content;
  font-size: 2.8rem;
  line-height: 35px;
  text-transform: uppercase;

}
.score_container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 0px 45px;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  
}
.score_label{
  text-transform: uppercase;
  color: #37458C;
  letter-spacing: 2px;
  
}
.score{
  font-size: 3.5rem;
  font-weight: 700;
  color: #55516A;
  line-height: 55px;
}

.rules_button{
  position: fixed;
  bottom :25px;
  right:50px;
  padding: 8px 30px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #6D718C;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}
.rules_button:hover{
  cursor: pointer;
  background-color: #fff;
  color: hsl(237, 49%, 15%);
}
.game_container{
  display: grid;
  justify-content: center;
  align-items: center;
  gap:50px;
  column-gap: 90px;
  margin-top: 50px;
  grid-template-columns: repeat(2,1fr);
  background-image: url('/images/bg-triangle.svg');background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center ;
 
}
.game_option_container{
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 25px solid #fff;
}
.game_option_container::after{
  display: block;
  position: absolute;
  content: ' ';
  box-sizing: border-box;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border:0;
  border-bottom: 7px solid rgba(0,0,0,0.4);
}
.game_option{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 0;
  border-top: 8px solid rgba(0,0,0,0.2);

}
.game_option_container:first-of-type{
  border-color: #5572F3;
}
.game_option_container:nth-of-type(2){
  border-color: #EBA61F;
}
.game_option_container:nth-of-type(3){
  border-color: #DD3E59;
  margin: 0 auto;
  grid-column: span 2;
}