@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap');


.container {
  padding: 0;
}

.main {
  position: relative;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding:10px;
  background: radial-gradient(hsl(214, 47%, 23%),hsl(237, 49%, 15%));
  
}

.display{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:20px;
  width: 50%;
  border: 2px solid #5A6983;
  border-radius: 10px;
}
.title{
  color: #fff;
  width: min-content;
  font-size: 2.8rem;
  line-height: 35px;
  text-transform: uppercase;

}
.score_container{
  background-color: #fff;
  height: 100%;
  padding: 12px 40px;
  border-radius: 10px;
  text-align: center;
  
}
.score_label{
  text-transform: uppercase;
  color: #37458C;
}
.score{
  font-size: 3.5rem;
  color: #55516A;
}

.rules_button{
  position: fixed;
  bottom :25px;
  right:50px;
  padding: 8px 30px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #6D718C;
  border-radius: 10px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 200ms ease-in-out;
}
.rules_button:hover{
  cursor: pointer;
  background-color: #fff;
  color: hsl(237, 49%, 15%);
}